body {
  font-family: Inter, sans-serif;
}

header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
}

.header-part1 {
  height: 60px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.logo {
  margin: 10px 0;
}

.dropdown {
  margin: 0 40px;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dropdrown-language {
  font-weight: 500;
}

.lang {
  display: flex;
  align-items: center;
}

.lang::before {
  content: " ";
  width: 30px;
  height: 24px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
}

.lang::after {
  content: " ";
  width: 20px;
  height: 10px;
  background: url(Images/icon-dropdown.svg) center/10px no-repeat;
  margin-top: 5px;
}

.lang.en::before {
  background-image: url(Images/icon-en.svg);
}

.contact-mail {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.cotact-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.mail-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #0fb9c2;
}

.mail-link::before {
  content: "";
  flex: 0 0 auto;
  width: 25px;
  height: 20px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(Images/icon-email.svg);
}

.header-part2 {
  background-color: #606060;
  width: 100%;
  height: 60px;
}

.container-header2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  color: white;
}

.nav-button {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}

.social-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.social-button {
  margin-left: 15px;
}

.section1 {
  margin-top: 120px;
  height: 645px;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-pagination-bullet {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
  box-sizing: border-box;
  opacity: 1;
  background: none;
}


.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #000;
}

.bgPosS2 {
  background-repeat: no-repeat;
  background-color: #fff;
  position: relative;
  background-position:top;
}

.bgSlider {
  background-image: url(Images/bg-home.jpg);
}

.bgSlider::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100px;
  background-image: url(Images/bg-overlay.png);
  background-repeat: no-repeat;
  opacity: 0.9;
  z-index: 0;
  mix-blend-mode: overlay;
}


.bgSlider>* {
  z-index: 10;
  position: relative;
}

.bgSlider2{
  background-image: url(Images/bg-home-alt.jpg);
}

.bgSlider2::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100px;
  background-image: url(Images/bg-overlay.png);
  background-repeat: no-repeat;
  opacity: 0.9;
  z-index: 0;
  mix-blend-mode: overlay;
}


.bgSlider2>* {
  z-index: 10;
  position: relative;
}

.section1Row {
  max-width: 1240px;
  justify-content: right;
}

.rightSideText {
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 2;
}

.text-content {
  display: block;
  overflow: visible;
}

.section1h2 {
  font-size: 62px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 25px;
}


.firstLetter {
  color:#0fb9c2
}

.section1p {
  line-height: 2;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.section1Button {
  width: 240px;
  height: 50px;
  margin: 20px 0;
  padding: 0 20px;
  border: 0;
  border-radius: 50px;
  background: #0fb9c2;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.section1Button:hover {
  background-color: #5bcbd1;
}

.prove:hover {
  color:#fff;
}

.header-part2Container {
  height: 60px;
  justify-content: center;
  align-items: center;
}

.header-part2text {
  font-size: 18px;
  font-weight: 700;
  color:#0fb9c2;
}

.section2Cont {
  justify-content: center;
  margin-top: 60px;
  box-sizing: border-box;
  max-width: 1240px;
  height: 525px;
}

.section2-part1 {
  text-align: center;
}

.headingSect2 {
  font-size: 42px;
  font-weight: 700;
}

.spanS2 {
  color: #0fb9c2;
}

.section2-part2 {
  display: flex;
  justify-content: space-between;

}

.box {
  box-sizing: border-box;
  width: 230px;
  height: 240px;
  background-color: #0fb9c2;
  margin-bottom: 20px;
  padding: 20px 40px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.boxIcon {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 70px;
  height: 70px;
  margin: 20px auto;
}

.boxTitle {
  color: white;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  margin-top: 10px;
}

.subheadingS2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.section3 {
  width: 100%;
  background-color: #e7f8f9;
  padding: 40px 0 40px;
}

.col12Section3 {
  margin: 40px auto;
}

.rowS3 {
  justify-content: space-between;
}

hr {
  height: 1px;
  border: 0;
  background: #0fb9c2;
  margin: 20px 20px 20px;
  padding:0;
  width: 100%;
  max-width: 1180px;
}

.section3h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 20px;
}

.section3p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.section3btn {
  width: 240px;
  height: 50px;
  color:#0fb9c2;
  box-sizing: border-box;
  border: 2px solid #0fb9c2;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 40px;
}

.section3btn:hover {
  background-color: #5bcbd1;
  color: black;
}

.noMarginB {
  margin-bottom: 0;
}

.bgPosS4 {
  background-color: white;
  width: 100%;
  height: 602px;
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
}

.bgSliderS4 {
  background-image: url(Images/banner-IT.png);
}

.bgSlider2S4 {
  background-image: url(Images/banner-green.png);
}

.section4Row {
  justify-content: center;
  align-items: center;
}

.text-contentS4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color:#fff;
}

.section4h2 {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.section4span {
  color: #0fb9c2;
}

.section4mark {
  color: #0fb9c2;
  text-align: center;
}

.section4p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.adc {
  height: 150px;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.rowS5 {
  justify-content: space-between;
  margin-bottom: 60px;
}

.boxS5 {
  text-align: center;
  margin: 5px;
}

.subheadingS4{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-left: 10px;
}

.col-12S5 {
  display: flex;
  flex-direction: row;
}

.section5p {
  margin-bottom: 20px;
}

.people {
  display:block;
  max-width: 100%;
  height: auto;
}

.section6 {
  background-color:#e7f8f9;
  margin-top: 30px;
  padding-top: 60px;
  height: 340px;
  align-items: center;
  justify-content: center;
}

.section6cont {
    justify-content: center;
    box-sizing: border-box;
    max-width: 1240px;
    align-items: center;
}

footer {
  height: 350px;
  background-color: #606060;
  padding-top: 40px;
}

.gdpr {
  padding-left: 10px;
  padding-right: 10px;
}

.terms {
  color: white;
  margin-top: 10px;
  padding-top: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerP {
  font-weight: 600;
}

.footerRights {
  background-color: #fff;
  width: 100%;
  max-width: 1920px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.rights {
  height: 40px;
  color: white;
  text-align: center;
}

.footerLink {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.subheadingFooter {
  color:#fff;
  font-size: 26px;
  font-weight: 600;
}

.services {
  margin-left: 40px;
}

.title {
  margin-bottom: 20px;
}

.linkContainer {
  margin-bottom: 10px;
}

.SMIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.SMlink {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.instagram {
  margin-left: 15px;
}


